body {
    background-color: #000;
}

.timeline-container {
    position: relative;
    white-space: nowrap;
    overflow-x: scroll;
}

.timeline-pointer {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #f52828;
    cursor: ew-resize;
}

.timeline-track {
    position: relative;
    height: 50px;
    background-color: #ccc;
    border-bottom: 1px solid #000;
}


.timeline-track.video-track {
    /* background-color: rgb(84, 197, 197); */
}

.timeline-track.cg-track {
    /* background-color: rgb(197, 190, 84); */
}

.timeline-track.audio-track {
    /* background-color: rgb(84, 197, 90); */
}

.timeline-clip {
    position: absolute;
    height: 100%;
    background-color: rgb(66, 211, 204);
    border: 1px solid rgb(71, 71, 71);
    box-sizing: border-box;
}
.timeline-track.video-track .clip {
    background-color:  rgb(41, 238, 238);
    height: 100%;
}